---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Section from "@/components/sections/Section.astro";
import Card from "@/components/ui/Card.astro";
import * as m from "@/paraglide/messages";

const lang = Astro.currentLocale || "en";

const allBlogArticles = (await getCollection("blog")).filter((article: CollectionEntry<"blog">) =>
  article.filePath?.includes(`/${lang}/`),
);
const lastBlogArticle = allBlogArticles[0] || null;
---

{
  lastBlogArticle && (
    <Section>
      <Card>
        <div class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px] justify-between">
          <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
            <h2 class="text-3xl font-medium">{lastBlogArticle.data.title}</h2>
            <p>{lastBlogArticle.data.summary}</p>
            <a
              href={`/${lang}/articles/${lastBlogArticle.slug.split("/")[1]}`}
              class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border"
            >
              {m.button_readMore}
            </a>
          </div>
          <Image
            src={lastBlogArticle.data.image}
            alt="This is an illustration"
            width={500}
            height={300}
            class="hidden md:flex items-center justify-center object-cover"
          />
        </div>
      </Card>
    </Section>
  )
}
