---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import type { ImageMetadata } from "astro";
import Section from "@/components/sections/Section.astro";
import Card from "@/components/ui/Card.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import * as m from "@/paraglide/messages";
import { getOptimizedImage } from "@/utils/getOptimizedImage";

const lang = Astro.currentLocale || "en";

const allBlogArticles = (await getCollection("blog")).filter((article: CollectionEntry<"blog">) =>
  article.filePath?.includes(`/${lang}/`),
);
const lastBlogArticle = allBlogArticles[0] || null;

const optimizedImage = lastBlogArticle?.data.image
  ? (getOptimizedImage(lastBlogArticle.data.image) as ImageMetadata)
  : undefined;
---

{
  lastBlogArticle && (
    <Section>
      <SectionTitle
        sectionTitle={m.blog_title}
        description={m.blog_description}
      />
      <Card>
        <div class="flex bg-gray rounded-[45px] p-[60px] relative mt-12 mb-24 justify-between gap-4">
          <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
            <h2 class="text-3xl font-medium">{lastBlogArticle.data.title}</h2>
            <p>{lastBlogArticle.data.summary}</p>
            <a
              href={`/${lang}/articles/${lastBlogArticle.slug.split("/")[1]}`}
              class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border"
            >
              {m.button_readMore}
            </a>
          </div>
          {optimizedImage && (
            <Image
              src={optimizedImage}
              alt={lastBlogArticle.data.title}
              width={500}
              height={300}
              class="hidden md:flex items-center justify-center object-cover max-w-5/8 rounded"
              loading="lazy"
            />
          )}
        </div>
      </Card>
    </Section>
  )
}
