---
import lisboa from "@/assets/cities/lisboa.svg";
import porto from "@/assets/cities/porto.svg";
import viana from "@/assets/cities/viana.svg";
import Section from "@/components/sections/Section.astro";
import LocationCard from "@/components/ui/LocationCard.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import * as m from "@/paraglide/messages";

const cards = [
  {
    index: 1,
    titleTop: "Lisboa",
    titleBottom: "Praça Marquês de Pombal 18h30",
    img: lisboa,
    link: "https://www.instagram.com/massacriticalisboa/",
  },
  {
    index: 2,
    titleTop: "Porto",
    titleBottom: "Jardim do Marquês 18h30",
    img: porto,
    link: "https://www.instagram.com/massacriticaporto/",
  },
  {
    index: 3,
    titleTop: "Viana",
    titleBottom: "Praça da República 18h",
    img: viana,
    link: "https://www.instagram.com/massacriticaviana/",
  },
];
---

<Section id="locations">
  <div class="mt-[140px] mb-5">
    <SectionTitle
      sectionTitle={m.locations_title}
      description={m.locations_description}
    />
    <div class="grid grid-cols-2 gap-10">
      {
        cards.map((card) => (
          <LocationCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.titleTop}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
