---
import Seo from "@/components/seo/Seo.astro";
import * as m from "@/paraglide/messages";

const { title, description, image, frontmatter, robots } = Astro.props;

const formattedTitle = title ? `${title} - ${m.title()}` : m.title();
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>{formattedTitle}</title>
  <meta name="description" content={description} />

  <Seo
    title={formattedTitle}
    {description}
    url={Astro.url.toString()}
    {image}
    {frontmatter}
    {robots}
  />

  <!-- Preconnect fonts, images... -->
  <script defer is:inline src="https://umami.afonsojramos.me/script.js" data-website-id="a53d7b00-3c16-452c-aff7-7c10fc91287b"></script>
</head>
